*,*:before,*:after {
  box-sizing: border-box;
}

html, body {
  margin: 20px;
  background: #FA8B60;
}


.bar .title {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
  margin: 0 10px;
  min-width: 30px;
  height: 43px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 17px;
  font-weight: 500;
  line-height: 44px;
}

.bar.bar-light .title {
  background: #E6E6E6;
  font-family: Georgia, serif;
  font-size: 40px;
  padding: 5px;
  border: 1px solid #BDBDBD;

}

nav {
  text-align: center;
  padding: 20px;
  background: #FA8B60;
}


nav button {
  width: 50px;
  cursor:pointer;
}

#inputNote {
  float: left;
  width: 50%;
  min-width: 60px;
  height: 100%;

}

#outputNote {
  float: left;
  width: 50%;
  min-width: 60px;

}

#watchingNote {
  background: #90C5A9;
}

textarea {
  background: #7A9A95;
  color: #3F2860;
  font-type: serif;
}
