*,*:before,*:after {
  box-sizing: border-box;
}

html, body {
  margin: 5px;
  background: black;
  color: white;
  margin-left: 120px;
  margin-right: 120px;
}

textarea {
  display: block;
  float: left;
  width: 49%;
  min-height: 100px;
  padding: 20px;
  border: 1px solid black;
  margin-bottom: 20px;
}

#watchingNote {
  display: block;
  float: right;
  width: 49%;
  min-height: 100px;
  padding: 20px;
  border: 1px solid black;
  margin-bottom: 20px;
  background: gray;
}

button {
  padding: 5px;
  float: right;
  border: 1px solid white;
  background: white;
  color: black;
}

button:focus {
  outline: none;
  border: 2px solid red;
}

hr {
  width: 100%;
}

.note {
  display: block;
  float: left;
  width: 49%;
  min-height: 100px;
  padding: 20px;
  border: 1px solid white;
  background: gray;
  margin-bottom: 20px;
}

.note:nth-of-type(even) {
  margin-left: 19px;

}
